/*Style sheet for all pages*/
.section {
    display:flex;
    flex-direction: row;
}  
    
    img {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
       
    }
p {
    display: flex;
    flex-direction: row;
}
    a {
        margin: auto;
    }
h1 {
    Font-weight: 800px;

}












































































































































































































































































































































































































































































































